body{
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

:root{
  --clr1:#ffff
}
*{
  box-sizing: border-box;
  color: var(--clr1);
  
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav{
  border-bottom: solid rgba(255, 255, 255, 0.449) 1px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  select{
    border: solid rgba(255, 255, 255, 0.449) 1px ;
    backdrop-filter: blur(10px);
    background-color: rgba(240, 248, 255, 0);
    padding: 10px;
    border-radius: 10px;
  }
}
.th{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -8;
}
.home-page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0px;

  main{
    flex-grow: 1;
    .main-inf{
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 10px;
      .main-card{
        border-radius: 30px;
        backdrop-filter:blur(10px);
        position: relative;
        h1{
          font-size: 500%;
        }
        i{
          font-size: 200%;
          margin: 10px;
        }
        div{
          letter-spacing: 5px;
        }
      }
      .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(7, 3, 22, 0.556) ;
        border-bottom: solid 1px rgba(255, 255, 255, 0.218);
        padding: 20px;
        font-Size:300%;
        transition: .3s;
        background-color: rgba(255, 255, 255, 0.064);
        position: relative;
        overflow: hidden;
        h6{
          margin: 10px;
          border-bottom: solid 1px rgba(255, 255, 255, 0.457);
          padding: 10px;
          font-weight: 100;
        }
      }
    }
    .chart{
      width: 97%;
      margin: 10px auto;
      border-radius: 10px;
      padding: 20px;
      border: solid 1px rgba(255, 255, 255, 0.182);
      min-width: 500px;

      box-shadow: 0px 0px 100px  rgba(5, 61, 106, 0.309);
      position: relative;
    }
  }
}
option{
  color: black;
}
.glass{
  
            position: absolute;
            inset: 0;
            backdrop-filter: blur(1px);
            overflow: hidden ;
            filter: url(#glass);
            z-index: -1;   
}